ListView {
  opacity: 0;
}

.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-bar {
  padding: 5 10;
}

Label {
  padding: 10 0;
}

.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}

TextField {
  color: white;
}

.component-trip-card {
  margin-bottom: 40;
}

.date {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-size: 20;
  padding: 7 8;
}

.trip-image {
  margin-bottom: 8px;
  width: 100%;
}

.user-tn{
  width: 60;
  height: 60;
  border-radius: 35;
  border-style: solid;
  border-width: 4px;
  border-color: #000;
}

.title {
  color: #4b4b4b;
  margin: 0 10;
  font-weight: bold;
  font-size: 18;
  line-height: 1.1;
}

.muted {
  margin: 0 10 40;
  color: #565656;
}

.destination {
  font-size: 13;
}

.seats {
  font-size: 18px;
}