PullToRefresh {
  height: 100%;
}

Label {
  padding: 10 0;
  color: #4b4b4b;
  margin: 0 10;
  font-weight: bold;
  font-size: 14;
  line-height: 1.1;
}

.blue {
  color: #4490DE;
}

.muted {
  color: #7a7a7a;
}
