PullToRefresh {
  height: 100%;
}

Label,
TextView {
  margin: 0 10;
}

Label {
  padding: 10 0;
  color: #4b4b4b;
  font-weight: bold;
  font-size: 14;
  line-height: 1.1;
}

TextView{
  color: #5c5c5c;
}

.blue {
  color: #4490DE;
}

.muted {
  color: #7a7a7a;
}

.destinations {
  background-color: #fdf6eb;
}

.traveller Image {
  height: 50;
  width: 50;
  margin: 0 10;
}

.traveller .caption {
  padding-bottom: 0;
}

.traveller .info {
  font-weight: normal;
  padding-top: 0;
  margin-top: 0;
}
